/* Video Player */
.video-player-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video-element {
  width: 100%;
  height: auto;
  max-height: 70%;
  border-radius: 8px;
  background: #000;
}

/* Controles personalizados */
.video-element::-webkit-media-controls {
  background-color: rgba(20, 20, 20, 0.7);
}

.video-element::-webkit-media-controls-panel {
  background-color: rgba(20, 20, 20, 0.7);
}

.video-element::-webkit-media-controls-play-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.video-element::-webkit-media-controls-timeline {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  margin: 0 15px;
}

.video-element::-webkit-media-controls-volume-slider {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .video-element {
    max-height: 50vh;
  }
}
